extends ../layout.pug

block content
    .container
        h1 Erreur 404

        p Vous cherchez quelque chose de précis ?
        p Si vous êtes perdu revenez sur la page d'accueil en cliquant <a href="/">ici</a>