extends ../layout.pug

block content 
    .container.mt-5

        .row.justify-content-center
            .col-md-6
                h1 Inscription
                form(action="/inscription" method="post")
                    .form-group
                        label(for='nom') Nom :
                        input.form-control(type='text', name="lastname" id='nom', placeholder='Votre nom')

                    .form-group
                        label(for='prenom') Prénom :
                        input.form-control(type='text', name="firstname", id='prenom', placeholder='Votre prénom')

                    .form-group
                        label(for='email') Email :
                        input.form-control(type='email', name="email", id='email', placeholder='Votre email')

                    .form-group
                        label(for='password') Mot de passe :
                        input.form-control(type='password', name="password", id='password', placeholder='Votre mot de passe')

                    button.btn.btn-primary.mt-20(type='submit') S'inscrire